
.ms-bordered{
    border: 1px dashed black;
    background-color: aquamarine;
}
.ms-bg-gray{
    background-color: #f8f9fa;
}


/*HEADER*/
.ms-nav-header{
    height: 50px;
    background-color: #f8f9fa;
}

/*MAIN*/

/*HEADER*/
.ms-main-header{
    margin-left: 50px;
    background-color: #1b72e8;
}
/*OFFCANVAS*/
.ms-offcanvas-width{
    width: 100vw !important;
}
/*SIDEBAR*/
.ms-sidebar{
    position: absolute;
    left: 0;
    top: 50px;
    width: 50px;
    background-image: url(../img/sidebar-bg.png);
    background-color: #051e34;
    height: calc(100vh - 50px);
}
.ms-sidebar ul{
    list-style-type: none;
    padding-left: 0;
}
/*MAIN CONTENT*/
#ms-main-content{
    margin-left: 50px;
}
.ms-main-boxes{
    border: 1px dashed black;
    background-color: chocolate;
    height: 500px;
}
.ms-main-cards{
    border: 1px dashed black;
    background-color: deepskyblue;
    height: 240px;
}



/*RESPONSIVE*/
@media screen and (min-width:992px) {
    /*MAIN-HEADER*/
    .ms-main-header{
        margin-left: 200px;
    }

    /*SIDEBAR*/
    .ms-sidebar{
        width: 200px;
    }
    /*MAIN CONTENT*/
    #ms-main-content{
        margin-left: 200px;
    }
    /*OFFCANVAS*/
    .ms-offcanvas-width{
        width: 50vw !important;
    }
}